* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

main {
  border-top: 8px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 40%);
}

h1 {
  line-height: 2.5;
  margin: 0;
}
p {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%)
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 54px;
}

.intro-chunk {
  max-width: 450px;
  padding-left: 32px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 32px;
  max-width: 800px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}
.indented-heading {
  margin: 0;
  margin-left: -40px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
}
